body, body * {
  margin: 0;
  padding: 0;
}
body >* {
  box-sizing: border-box;
}
body {
  margin: 20px;
}
a {
  text-decoration: none;
  color:black;
}
li {
  list-style-type: none;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
}

/* footer */
.footer {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: auto;
  border-top: gray 1px solid;
  padding-top: 20px;
}
.footer__school-logo {
  width: 150px;
}
.footer__year, .footer__my-name {
  letter-spacing: 5px;
}
.footer__my-name a:hover {
  color:#805959
}
.footer__my-name a {
  transition: all .4s;
}